services:
  anime-sage:
    build: .
    container_name: anime_sage_bot
    restart: always
    env_file:
      - .env
    volumes:
      - ./data:/app/data
    environment:
      - PYTHONUNBUFFERED=1